$base-head-color: #a62648 !default; // dark pink
$base-main-color: #8c7479 !default; // dusty pink
$base-header-text-color: #2b2e30 !default; //black
$base-text-color: #030303 !default; //dark grey
$base-footerlink-color: #f0f0f0 !default; //off white

//Fonts
$base-font-headers: 'cursive' !default;
$base-font-text: 'sans-serif' !default;
$font-headers: 'cursive' !default;
$font-text: 'sans-serif' !default;
