$background-head-color: #a62648 !default; 
$background-main-color: #8c7479 !default; 
$effect-color: #f0f0f0 !default; 

$header-text-color: #2b2e30 !default; 
$sidemenu-text-color: #a62648 !default;
$text-color: #030303 !default; 
$footerlink-color: #f0f0f0 !default; 

//Fonts
$base-font-headers: 'cursive' !default;
$base-font-text: 'sans-serif' !default;
$font-headers: 'cursive' !default;
$font-text: 'sans-serif' !default;
