$background-head-color: #2b2e30;
$background-main-color: #731A32;
$effect-color: #B56076;

$header-text-color: #a62648;
$sidemenu-text-color: #a62648;
$text-color: #030303;
$footerlink-color: #B56076;

//Fonts
//change fonts
$font-headers: 'Fredericka the Great';
$font-text: 'Jaldi';
