$background-head-color: #a62648;
$background-main-color: #B56076;
$effect-color: #F2809F;

$header-text-color: #2b2e30;
$sidemenu-text-color: #030303;
$text-color: #030303;
$footerlink-color: #f0f0f0;

//Fonts
//change fonts
$font-headers: 'Fredericka the Great';
$font-text: 'Jaldi';
